*, *::after, *::before {
    box-sizing: border-box; /* info on box-sizing: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    font-family: Gotham Rounded, sans-serif;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex; /* info on flex containers: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-background */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number { /* these styles apply to every number */
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; /* width, height, and text-align lines make a rectangle w/ the same size as the clock, then center all of the numbers w/ 
    text align toposition them onto the clock correctly. now every number is in 12's position on the clock, now you just have to rotate entire
    rectangle*/
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}

.clock .hand { /* these styles apply to every hand */
    --rotation: 30;
    position: absolute;
    bottom: 50%; /* bottom/left are 50% of size of clock */
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom; /* sets axis of rotation to bottom of hand */
    z-index: 10; /* now hand will be drawn on top of the numbers */
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    /* calc here converts --rotation to degrees */
}

.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: black;
}

.clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: black;
}

.clock::after { /* this is the little circle pseudo-element at the center of the clock */
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}